/src/bootstrap/compiled.php
/src/vendor
src/vendor/
src/node_modules
/src/node_modules
/src/composer.phar
/src/.env.*.php
/src/.env.php
/src/.DS_Store
/src/Thumbs.db
/src/public/uploads
/src/Homestead.yaml/src/
/src/public/images/movies
Homestead.json
/src/.env
/src/.env.*
!.env.ci
!.env.staging
!.env.production
!.env.example
/src/public/uploads/*
/src/build/*
/src/logs/*
/src/data/*
/src/postgres/*
/src/cache.properties
/src/phpunit.xml
.DS_Store
.vscode/
/database
/databases/*
/data

.config
.npm

.composer
.cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/nbproject/private/

# Keep at the end to ensure we track this file
!.gitkeep
npm-debug.log
*.swp
*.swo

